<div class="center hero-unit">
  <h1>Jasper's App</h1>

  <h2>
    Made with help from the lovely Martin and Odera. At
    <a href="http://www.viewsy.com">Viewsy</a>.
  </h2>

  <%= link_to "Sign up now! (You know you want to...)", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>