<footer class="footer">
  <small>
    <a href="http:/www.viewsy.com">Made by Viewsy:</a>
    where the greatest technicians live.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>